# Canonical author mapping (see git-check-mailmap, .mailmap docs)
Ryan Tomegah <naumryan66@gmail.com> <ryanktomegah@gmail.com>
Ryan Tomegah <naumryan66@gmail.com> <tomegah@Tomegahs-MacBook-Air.local>
Ryan Tomegah <naumryan66@gmail.com> Ryan <naumryan66@gmail.com>
Ryan Tomegah <naumryan66@gmail.com> ryanktomegah <ryanktomegah@gmail.com>
Ryan Tomegah <naumryan66@gmail.com> YESHA <ryanktomegah@gmail.com>
Ryan Tomegah <naumryan66@gmail.com> Tomegah Ryan <tomegah@Tomegahs-MacBook-Air.local>
